.page-container {
  padding: var(--space-xl);
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
}

.footer-actions {
  display: flex;
  justify-content: flex-end;
}

.page-container .tag-selector {
  width: 20rem;
  margin: var(--space-sm) 0; 
}