.page-container {
  padding: var(--space-xl);
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tierlist-addremove-tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xl);
  align-items: center;
}

.tierlist-addremove-select-btns{
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  width: 17rem;
}

.footer-actions {
  display: flex;
  justify-content: flex-end;
}

.page-container .tag-selector {
  width: 32rem;
}