.gallery-page {
  padding: var(--space-lg);
  display: flex;
  flex-direction: column;
}

/* Actions */
.gallery-actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
  align-items: center;
}

/* Messages */
.error {
  color: var(--color-quaternary);
  font-size: var(--text-md);
}


.gallery-page .tag-selector {
  width: 20rem;
  margin: var(--space-sm) 0; 
}