.tierlist-create-page {
  margin: 0 auto;
  padding: var(--space-lg);

  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.tierlist-create-header {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  width: 35rem;
}

.tierlist-create-tags {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 25rem;
  gap: var(--space-md);
}

.tierlist-create-tag-controls {
  display: flex;
  gap: var(--space-md);
}


.tierlist-create-categories {
  width: 36rem;
  margin: 0 auto;
  align-items: center;

  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.tierlist-create-rows {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  align-items: center;
}

.tierlist-create-row {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
}

.tierlist-create-error {
  color: var(--color-quaternary);
  font-size: var(--text-sm);
}