.tierlist-create-page {
  padding: var(--space-lg);
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.tierlist-create-header {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  width: 28rem;
}

.tierlist-create-tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xl);
  align-items: center;
}

.tierlist-create-select-btns{
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  width: 17rem;
}


.tierlist-create-categories {
  width: 36rem;
  margin: 0 auto;
  align-items: center;

  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.tierlist-create-rows {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  align-items: center;
  width: 100%;
}

.tierlist-create-row {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
  width: 100%;
}

.tierlist-create-row .cat-input{
  width: 100%;
}

.tierlist-create-row .btn{
  display: flex;
}

.tierlist-create-error {
  color: var(--color-quaternary);
  font-size: var(--text-sm);
}

.tierlist-create-page .tag-selector {
  width: 32rem;
}