.tierlist-dropzone {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(auto-fill, var(--tier-image-size));

  /* hauteur mini = 1 image */
  min-height: var(--tier-image-size);
}

.tierlist-row-hover {
  background: var(--neutral-background); 
}
