.app-header {
  position: sticky;
  top: 0;
  z-index: 1000;

  box-shadow: var(--shadow-sm);
}

.header-inner {
  margin: 0 auto;
  padding: var(--space-md);
  background: var(--color-secondary);
  
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: calc(var(--space-xl) + var(--space-xl));
  justify-content: center;
}

.nav-links a {
  text-decoration: none;
  font-weight: 700;
  font-size: var(--text-xl);
  color: var(--color-tertiary);
}

.nav-links a.active {
  color: var(--color-quaternary);
}

.theme-wrapper {
  display: flex;
  justify-content: flex-end;
}
